<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-3" *ngFor="let fd of carData">
            <div class="card" style="width: 18rem;">
                <img src="{{fd.carImg}}">
                <div class="card-body">
                    <h1>{{fd.carName}}</h1>
                    <p>{{fd.carDetails}}</p>
                    <p>{{fd.carPrice | currency:'INR'}}</p>
                    <a class="buybtn">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
                 
                </div>
              </div>
        </div>
    </div>
</div>